* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body{
    overflow-x: hidden !important;
  }
  a {
    color: #fff !important;
    text-decoration: none;
  }
li>a{
  font-size: 18px !important;
}
  .font-h2{
    font-weight: 600 !important;
    font-size: 30px !important;
  }
  .font-p{
    font-size: 17px;
  }
  /* .social-icons .fa-brands {
    color: #fff;
  } */
  .nav-logo{
    width: 200px;
  }
  .s-icons{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  .dropdown-menu {
    
    background-color: #f58a07 !important;
    /* padding: 10px !important; */
}
.dropdown-item{
  color: #fff !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #b16100 !important;
}
/*------------------------------ navigation------------------------------ */
#header {
  height: 100px;
}

.navbar {
  width: 250px;
  height: 100vh;
  /* position: fixed !important; */
  margin-left: 300px;
  background-color: #17181c;
  transition: 0.4s;
  position: absolute !important;
  top: 0;
  right: -255px;
  overflow-x: hidden !important;
}

.nav-link {
  font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #f58b07d4;
}

.dropdown-menu {
  background-color: #f58b07d4;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

/* for navbar */

.active-nav {
  position: absolute !important;
  right: 0;
  /* overflow-x: hidden; */
}

/* for main section */

.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: transparent;
  color: #fff;
}

#menu-btn:focus {
  box-shadow: 0 0 0 0.25rem #7952b344;
}
/*------------------------------ navigation------------------------------ */

  .foot-icons{
    border-radius: 18px;
    border: 1px solid #fff;
    padding: 2px 8px;
  }
  .main-banner {
    background-image: url(./img/bannerr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -100px;
    padding-top: 245px;
    height: 100vh;
  }
  .main-banner p {
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
  }
  .main-bannerr{
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -100px;
    padding-top: 245px;
    height: 100vh;
  }
  .main-bannerr p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }
  .banner-left h1 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}
.btns-one {
    color: #fff;
    font-size: 15px;
    background-color: #f58b01;
    border: 1px solid #f58b01;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
  }
  
  .btns-one:hover {
    transition: 0.6s;
    color: #000000;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .btns-two {
    color: #fff;
    font-size: 15px;
    background-color: #0d0d0d;
    border: 1px solid #0d0d0d;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
  }
  
  .btns-two:hover {
    transition: 0.6s;
    color: #000000;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .main-imgs {
    width: 423px;
  }
  .btns-three {
    color: #fff;
    font-size: 15px;
    background-color: #f58b01;
    border: 1px solid #f58b01;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .btns-three:hover {
    transition: 0.6s;
    background-color: #0d0d0d;
    border: 1px solid #0d0d0d;
  }

  .btns-nine{
    color: #fff;
    font-size: 15px;
    background-color: #f58b01;
    border: 1px solid #f58b01;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .btns-nine:hover {
    transition: 0.6s;
    color: #000000;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .right-side-panel h2 {
    font-weight: 600;
    font-size: 28px;
}
.right-side-panel p {
    /* font-weight: 400;
    font-size: 16px; */
    font-size: 17px;
    color: #000;
}
.girl-main{
  width: 100%;
}
.singup-clr{
  background: linear-gradient(#17181cb3 0%, #17181c 25%);
  border-radius: 0px 0px 12px 12px;
  border-top: 2px solid #ff6101;
  margin-top: -90px !important;
  padding-bottom: 50px !important;
}
.text-clrr{
  color: #868484;
  font-size: 40px;
  font-weight: 700;
}
.btns-signup{
  color: #fff;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  border-radius: 4px;
  padding: 7px 22px;
}
.btns-signup:hover{transition: 0.6s;
color: #000000;
background-color: #fff;
border: 1px solid #fff;
}
/* ---------------------------------------------------- */
.image {
    position: relative;
    display: inline-block;
    margin: 10px 10px;
    width: 30%;
  }
  
  .image:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.6) 40%,#ec6400 100%);
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;
  }
  .service-img{
    width: 100%;
  }
  /* ---------------------------------------------------- */
  .back-color{
    background-color: #2b2f38;
    padding: 50px;
    padding-top: 70px;
    margin-bottom: 150px;
  }
.newsl-form{
  background-image: url(./img/Rectangle\ 5.png);
  background-size: cover;
  padding: 40px;
  margin-bottom: -130px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(209,209,209,0.71);
  -moz-box-shadow: 0px 10px 5px 0px rgba(209,209,209,0.71);
  box-shadow: 0px 10px 15px 0px #00000061;
}
.newsl-form p{
  color: #fff;
  font-size: 16px;
}
.newsl-form h2{
  color: #fff;
  font-size: 43px;
  font-weight: 600;
}
.inlinefm{
  width: 113% !important;
  padding: 15px !important;
}
.btns-inlinef {
  color: #fff;
  font-size: 15px;
  background-color: #23262d;
  border: 1px solid #23262d;
  border-radius: 4px;
  padding: 13px;
}
.a-clr{
  color: #f58b01;
  font-size: 25px;
}
.btns-inlinef:hover {
  transition: 0.6s;
  color: #000000;
  background-color: #fff;
  border: 1px solid #fff;
}
.testimonial{
  background-color: #2b2f38;
  padding-top: 30px;
}
.testi{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.testi-slid{
  color: #fff;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}
.gallery{
  display: flex;
}
.img-s{
  width: 33.33333%;
  transition: 0.5s ease;
}
.img-s:hover{
  transform: scale(0.9);
  opacity: 1;
  cursor: pointer;
}
.video-bg{
  background-image: url(./img/video-bg.png);
  padding-top: 70px;
  margin-bottom: 150px;
}
.youtube {
  width: 850px;
  height: 478px;
  box-shadow: 0px 10px 15px 0px #00000061;
  margin-bottom: -130px;
  border-radius: 12px;
}

.back-clr{
  background-color: #2b2f38;
  padding: 50px;
}

.f-clr{
  background-color: #40454f !important;
  border: 1px solid #40454f !important;
  color: #ffffff !important;
}

.form-control:focus{
  box-shadow: 0 0 0 0.25rem #ffffff00 !important;
}
input:focus-visible {
  outline: none;
}
.text-clr{
  color: #fff;
}
.talk-f{
  background-image: url(./img/chat.png);
  background-size: cover;
  border-radius: 12px;
  padding: 50px;
}
.owl-carousel .owl-item img {
  display: block;
  height: 150px;
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 10px 15px 0px #00000061;
}
/*////////////////////////////testi////////////////////  */

/* -----------------------------------------footer---------------------------------- */

.foot-line{
  background-color: #fb8c00;
}
.footer{
  background-color: #1b1b1b;
}
.footer-btn{
  color: #fff;
  font-size: 15px;
  background-color: #f58b01;
  border: 1px solid #f58b01;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 36px;
  padding-right: 36px;
}
.footer-btn:hover{
  transition: 0.6s;
    color: #000000;
    background-color: #fff;
    border: 1px solid #fff;
}
.form-foot{
  border-radius: 0px !important;
  padding: 3px 15px !important;
}

.foot-p{
  color: #a8a8a8;
}
.foot-end{
  padding-top: 30px;
  border-top: 1px solid #4c4c4c;
}
/*---------------------------- Contactus page---------------------- */
.div-clr{
  background-color: #2b2f38;
}
.cont-divs i {
  font-size: 34px;
  height: 100px;
  background: #f58b01;
  color: #fff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: -2px 2px 15px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 15px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 15px -9px rgba(0, 0, 0, 0.75);
  margin: 20px auto;
}
.cont-divs:hover i {
  background-image: linear-gradient(90deg, #f58b01, #1b1b1b);
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}
.cont-divs h6 {
  color: #fff;
}
.cont-divs a {
  color: #646d7c;
  font-size: 14px;
  text-decoration: none;
}
.cont-divs a:hover {
  color: #646d7c;
  text-decoration: none;
}
.maps iframe {
  width: 100%;
  height: 450px;
}
/*---------------------------- Contactus page---------------------- */

/*---------------------------- Media Query------------------------------- */
@media screen and (min-width: 1200px) {
  .banner-left h1{
    font-size: 28px;
  }
  .main-banner p{
    font-size: 14px;
 }
 .right-side-panel p{
  font-size: 14px;
 }
 .font-p{
  font-size: 14px;
 }
 .btns-one{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 26px;
  padding-right: 26px;
 }
 .btns-one:hover{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 26px;
  padding-right: 26px;
 }
 .btns-two{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 26px;
  padding-right: 26px;
 }
 .btns-two:hover{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 26px;
  padding-right: 26px;
 }
 .text-clrr{
  font-size: 36px;
 }
 .font-h2{
  font-size: 28px !important;
 }
 .size-h6{
  font-size: 15px;
 }
 .foot-icons{
  padding: 0px 6px;
 }
 .foot-p{
  font-size: 14px;
 }
 .owl-carousel .owl-item img{
  height: 172px;
 }
}
@media screen and (min-width: 1400px) {
  .banner-left h1{
    font-size: 40px;
  }
  .font-h2{
    font-size: 30px !important;
   }
   .right-side-panel p{
    font-size: 17px;
   }
   .font-p{
    font-size: 17px;
   }
   .main-bannerr p{
    font-size: 17px;
   }
}
@media screen and (min-width: 1600px) {
  .banner-left h1{
    font-size: 40px;
  }
  .font-h2{
    font-size: 30px !important;
   }
}
@media screen and (min-width: 1900px) {
  .banner-left h1{
    font-size: 40px;
  }
}